<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>2</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>022AFB44B8DEE324F8E5FED64E8CDE254B3B1D8A</ManifestCertificateThumbprint>
    <ManifestTimestampUrl>http://timestamp.digicert.com</ManifestTimestampUrl>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ErrorReportUrl>https://github.com/JW-Limited/LILO-LocalServer/discussions/1</ErrorReportUrl>
    <ProductName>SrvLocal</ProductName>
    <PublisherName>JW Limited</PublisherName>
    <SuiteName>LILO Framework</SuiteName>
    <SupportUrl>https://github.com/JW-Limited/LILO-LocalServer</SupportUrl>
    <TrustUrlParameters>True</TrustUrlParameters>
    <UseApplicationTrust>True</UseApplicationTrust>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.0 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <FileAssociation Include=".sll">
      <Visible>False</Visible>
      <Description>open a liml</Description>
      <Progid>1</Progid>
      <DefaultIcon>icons8_server_windows.ico</DefaultIcon>
    </FileAssociation>
  </ItemGroup>
</Project>