<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srvlocal_gui.LAB.SETTINGS.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="srvlocal_gui.DebugSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <srvlocal_gui.LAB.SETTINGS.config>
            <setting name="acceptedLicenseAgrement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastLoggedInUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="srvlocal_path" serializeAs="String">
                <value>C:\Users\joeva\Documents\GitHub\LILO-LocalServer\srvlocal_gui\bin\Debug\net7.0-windows\srvlocal.exe</value>
            </setting>
        </srvlocal_gui.LAB.SETTINGS.config>
        <srvlocal_gui.DebugSettings>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugForm" serializeAs="String">
                <value>builder</value>
            </setting>
            <setting name="reportLevel" serializeAs="String">
                <value>warning</value>
            </setting>
        </srvlocal_gui.DebugSettings>
    </userSettings>
</configuration>